<h1>Tasks#create</h1>
<p>Find me in app/views/tasks/create.html.erb</p>

<form action="/tasks" method="post">
  <label for="name">Name: </label>
  <input type="text" name="task[name]" id="name">

  <label for="status">Status: </label>
  <input type="text" name="task[status]" id="status">

  <input type="submit">
</form>
